In [1]:
#plots seven days worth of temperature data on one graph

In [2]:
import plotly.graph_objs as go
import plotly.offline as pyo

import pandas as pd
import numpy as np
import seaborn as sns
sns.set()
pd.options.display.max_rows = 10

In [3]:
#import data
df = pd.DataFrame()
df = pd.read_csv(r'Data/2010YumaAZ.csv')

In [4]:
df.head(100)

    LST_DATE       DAY LST_TIME  T_HR_AVG
0   20100601   TUESDAY     0:00      25.2
1   20100601   TUESDAY     1:00      24.1
2   20100601   TUESDAY     2:00      24.4
3   20100601   TUESDAY     3:00      24.9
4   20100601   TUESDAY     4:00      22.8
..       ...       ...      ...       ...
95  20100604    FRIDAY    23:00      30.1
96  20100605  SATURDAY     0:00      28.3
97  20100605  SATURDAY     1:00      27.3
98  20100605  SATURDAY     2:00      26.3
99  20100605  SATURDAY     3:00      25.3

[100 rows x 4 columns]

In [5]:
df.shape

(168, 4)

In [6]:
df.describe(include='all')

          LST_DATE       DAY LST_TIME    T_HR_AVG
count        168.0       168      168  168.000000
unique         NaN         7       24         NaN
top            NaN  SATURDAY     7:00         NaN
freq           NaN        24        7         NaN
mean    20100604.0       NaN      NaN   30.402976
...            ...       ...      ...         ...
min     20100601.0       NaN      NaN   17.900000
25%     20100602.0       NaN      NaN   25.125000
50%     20100604.0       NaN      NaN   30.900000
75%     20100606.0       NaN      NaN   35.525000
max     20100607.0       NaN      NaN   40.600000

[11 rows x 4 columns]

In [7]:
x = set(df['DAY'])

In [8]:
df.loc[:,'T_HR_AVG']

0      25.2
1      24.1
2      24.4
3      24.9
4      22.8
       ...
163    39.4
164    38.5
165    37.0
166    34.7
167    32.6
Name: T_HR_AVG, Length: 168, dtype: float64

In [9]:
# df[df['DAY'] == 'WEDNESDAY'].loc[:,'T_HR_AVG'] to list comprehension for all days
#store all Scatter objects as a list
data = [go.Scatter(x = df['LST_TIME'], y = df[df['DAY'] == day].loc[:,'T_HR_AVG'],
                   mode='lines+markers',
                   line=dict(width=4),
                   marker=dict(size=9),
                   name=day
                  )     
        for day in x    
       ]

In [10]:
layout = go.Layout(title='Daily Temperature Changes ',
                   xaxis=dict(title='Time'),
                   yaxis=dict(title='Temperature')
                  )

In [11]:
fig = go.Figure(data=data, layout=layout)

In [12]:
pyo.plot(fig, filename='line_plot_temperature_vs_time.html')

'line_plot_temperature_vs_time.html'