In [1]:
import plotly.graph_objs as go
import plotly.offline as pyo
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv(r'Data\2018WinterOlympics.csv', index_col='NOC')

In [3]:
df.head()

               Rank  Gold  Silver  Bronze  Total
NOC
Norway            1    14      14      11     39
Germany           2    14      10       7     31
Canada            3    11       8      10     29
United States     4     9       8       6     23
Netherlands       5     8       6       6     20

In [4]:
trace_gold = go.Bar(x=df.index, y=df['Gold'], name='Gold', marker=dict(color='yellow') )

In [5]:
trace_silver = go.Bar(x=df.index, y=df['Silver'], name='Silver', marker=dict(color='gray'))

In [6]:
trace_bronze= go.Bar(x=df.index, y=df['Bronze'], name='Bronze', marker=dict(color='#CD7F32'))

In [7]:
#data = [go.Bar(x=df.index, y=df['Total'])]
data = [trace_gold, trace_silver, trace_bronze]

In [8]:
layout = go.Layout( title='Bar Chart',
                    xaxis=dict(title='Countries'),
                    yaxis=dict(title='Number of medals'),
                    barmode='stack' #switch between nested and stacked
                    )

In [9]:
fig = go.Figure(data=data, layout=layout)

In [10]:
pyo.plot(fig, filename='bar_stack_winter_olympics.html')

'bar_stack_winter_olympics.html'