In [1]:
#plots the distribution of the petal lengths of each class in Iris dataset

In [2]:
import pandas as pd
import numpy as np
import plotly.graph_objs as go
import plotly.figure_factory as ff
import plotly.offline as pyo

In [3]:
df = pd.read_csv('Data/iris.csv')

In [4]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [5]:
df.describe(include='all')

        sepal_length  sepal_width  petal_length  petal_width           class
count     150.000000   150.000000    150.000000   150.000000             150
unique           NaN          NaN           NaN          NaN               3
top              NaN          NaN           NaN          NaN  Iris-virginica
freq             NaN          NaN           NaN          NaN              50
mean        5.843333     3.054000      3.758667     1.198667             NaN
std         0.828066     0.433594      1.764420     0.763161             NaN
min         4.300000     2.000000      1.000000     0.100000             NaN
25%         5.100000     2.800000      1.600000     0.300000             NaN
50%         5.800000     3.000000      4.350000     1.300000             NaN
75%         6.400000     3.300000      5.100000     1.800000             NaN
max         7.900000     4.400000      6.900000     2.500000             NaN

In [6]:
df['class'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [7]:
x1 = df[df['class']=='Iris-setosa'][ 'petal_length']
x2 = df[df['class']=='Iris-versicolor'][ 'petal_length']
x3 = df[df['class']=='Iris-virginica'][ 'petal_length']

In [8]:
hist_data=[x1,x2,x3]

In [9]:
group_labels = ['Iris-setosa', 'Iris-versicolor', 'Iris-virginica']

In [10]:
fig = ff.create_distplot(hist_data, group_labels, bin_size=0.3)

In [11]:
pyo.plot(fig, filename='06_distplot_petal_length_iris.html')

'distplot_petal_length_iris.html'