In [1]:
#plots a histogram form the length field in the data set

In [2]:
import pandas as pd
import numpy as np
import plotly.graph_objs as go
import plotly.offline as pyo

In [3]:
df=pd.read_csv('data/abalone.csv')

In [4]:
df.head()

,sex,length,diameter,height,whole_weight,shucked_weight,viscera_weight,shell_weight,rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7

In [5]:
df.describe(include='all')

,sex,length,diameter,height,whole_weight,shucked_weight,viscera_weight,shell_weight,rings
count,4177,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000
unique,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,1528,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,0.523992,0.407881,0.139516,0.828742,0.359367,0.180594,0.238831,9.933684
std,NaN,0.120093,0.099240,0.041827,0.490389,0.221963,0.109614,0.139203,3.224169
min,NaN,0.075000,0.055000,0.000000,0.002000,0.001000,0.000500,0.001500,1.000000
25%,NaN,0.450000,0.350000,0.115000,0.441500,0.186000,0.093500,0.130000,8.000000
50%,NaN,0.545000,0.425000,0.140000,0.799500,0.336000,0.171000,0.234000,9.000000
75%,NaN,0.615000,0.480000,0.165000,1.153000,0.502000,0.253000,0.329000,11.000000
max,NaN,0.815000,0.650000,1.130000,2.825500,1.488000,0.760000,1.005000,29.000000

In [6]:
data = [go.Histogram(x=df['length'],xbins=dict(size=0.02), name='Histogram_length') ]

In [7]:
layout = go.Layout(title='Histogram of Abalone Length', xaxis=dict(title='length'), yaxis=dict(title='count'))

In [8]:
figure = go.Figure(data=data, layout=layout)

In [9]:
pyo.plot(figure, filename='08_histogram_abalone_length.html')

'histogram_abalone_length.html'