In [1]:
#plots the temperature change in Santa Barbara

In [2]:
import pandas as pd
import numpy as np
import plotly.graph_objs as go
import plotly.offline as pyo
import plotly.figure_factory as ff
from plotly import tools
import plotly

In [3]:
df1 = pd.read_csv('Data/2010SantaBarbaraCA.csv')
df2 = pd.read_csv('Data/2010SitkaAK.csv')
df3 = pd.read_csv('Data/2010YumaAZ.csv')

In [4]:
df1.head()

   LST_DATE      DAY LST_TIME  T_HR_AVG
0  20100601  TUESDAY     0:00      12.7
1  20100601  TUESDAY     1:00      12.7
2  20100601  TUESDAY     2:00      12.3
3  20100601  TUESDAY     3:00      12.5
4  20100601  TUESDAY     4:00      12.7

In [5]:
x1, x2, x3 = df1['DAY'], df2['DAY'], df2['DAY']

In [6]:
y1, y2, y3 = df1['LST_TIME'], df2['LST_TIME'], df3['LST_TIME']

In [7]:
z1,z2,z3 = df1['T_HR_AVG'].to_list(), df2['T_HR_AVG'].to_list(), df3['T_HR_AVG'].to_list()

In [8]:
#data_09 = [go.Heatmap(x=x1, y=y1,z=z1,colorscale='jet', zmin=5, zmax=40 )]
layout = go.Layout(xaxis=dict(title='DAY'), yaxis=dict(title='TIME'), title='Heatmap: Temperature in Santa Barbara, CA' )
#figure_09 = go.Figure(data=data, layout=layout)
#pyo.plot(figure_09, filename='09_heat_map_temperature_Santa_Barbara.html')

In [9]:
#multiple data sets
data = [go.Heatmap(x=x1, y=y1,z=z1,colorscale='jet', zmin=5, zmax=40 ),
        go.Heatmap(x=x2, y=y2,z=z2,colorscale='jet', zmin=5, zmax=40 ),
        go.Heatmap(x=x3, y=y3,z=z3,colorscale='jet', zmin=5, zmax=40 )
       ]

In [10]:
#make subplots
figure = plotly.subplots.make_subplots(rows=1, cols=3, shared_yaxes=True)

In [11]:
figure.append_trace(data[0], 1,1)
figure.append_trace(data[1], 1,2)
figure.append_trace(data[2], 1,3)

In [12]:
pyo.plot(figure, filename='10_heat_map_multiple_temperatures.html')

'10_heat_map_multiple_temperatures.html'