In [1]:
import pandas as pd
import plotly.graph_objs as go
import plotly.offline as pyo
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [2]:
df = pd.DataFrame()
df = pd.read_csv(r'C:/Users/galipbak/Desktop/Plotly-Dashboards-with-Dash-master/Data/population.csv')  

df.head()

,Name,PopEstimate2010,PopEstimate2011,PopEstimate2012,PopEstimate2013,PopEstimate2014,PopEstimate2015,PopEstimate2016,PopEstimate2017
0,Connecticut,3580171,3591927,3597705,3602470,3600188,3593862,3587685,3588184
1,Maine,1327568,1327968,1328101,1327975,1328903,1327787,1330232,1335907
2,Massachusetts,6564943,6612178,6659627,6711138,6757925,6794002,6823721,6859819
3,New Hampshire,1316700,1318345,1320923,1322622,1328684,1330134,1335015,1342795
4,Rhode Island,1053169,1052154,1052761,1052784,1054782,1055916,1057566,1059639

In [3]:
df.set_index('Name', drop=True, inplace=True)

In [4]:
list_cols = [i for i in df.columns if i.startswith('Pop')]

In [5]:
y=df.loc['Vermont']

In [6]:
data = [go.Scatter(x=list_cols, y=df.loc[index], 
                   mode='lines + markers',
                   line=dict(width=4)
                  ) 
        for index in df.index
       ]

In [7]:
layout = go.Layout(title='Population change in NewEngland over the years',
                   xaxis=dict(title='Years'),
                   yaxis=dict(title='Population Size'),
                   hovermode='closest'
                  )

In [8]:
fig = go.Figure(data=data, layout=layout)

In [9]:
pyo.plot(fig, filename='population_time.html')

'population_time.html'